In [1]:
#Task-05

dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

In [6]:
#Accessing Mike

dict1["april_batch"]["student"]["name"]

'Mike'

In [8]:
#Accessing 80

dict1["april_batch"]["student"]["marks"]["python"]

80

In [9]:
#Changing Name

dict1["april_batch"]["student"]["name"]="Chandan"

In [10]:
dict1

{'april_batch': {'student': {'name': 'Chandan',
   'marks': {'python': 80, 'maths': 70}}}}

In [11]:
#Adding ML=80

dict1["april_batch"]["student"]["marks"]["ML"]="80"

In [12]:
dict1

{'april_batch': {'student': {'name': 'Chandan',
   'marks': {'python': 80, 'maths': 70, 'ML': '80'}}}}

In [13]:
#Adding DL=80


dict1["april_batch"]["student"]["marks"]["DL"]="80"
dict1

{'april_batch': {'student': {'name': 'Chandan',
   'marks': {'python': 80, 'maths': 70, 'ML': '80', 'DL': '80'}}}}